#md-input {
	height:700px;
	padding:0px;
}

#md-preview {
	height:700px;
	padding:0px;
}


#setting {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#setting-panel {
	width: 25%;
	float:left;
}

#content-panel {
	width: 72%;
	float: right;
}

#comment-area {
	width: 100%;
	height: 100%
}

#commnet-input {
	width: 100%;
	height: 150px;
}


.txt-input {
	width:100%;
	height:100%;
	background: aliceblue;
	border: none;
}

.txt-preview {
	width:100%;
	height:100%;
	background: antiquewhite;
	border: none;
}

.btn-setting {
	width: 100%;
	border-top-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
