{% extends "bootstrap/base.html" %}

{%block title%}Mygit{%endblock%}

{% block head %} 
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="../static/js/Douyufanjquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.main_index') }}">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.main_index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.posts') }}">Posts</a></li>
                {% endif %}
                <li><a href="{{url_for('api.getUserinfo')}}">User</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img style="height:20px" src="https://o3sw4xojp.qnssl.com/c66cb2fb1e610a03bbebf258fb3210f1.jpg">
                    </a>
                    <ul class="dropdown-menu">
                        <p style="padding:3px 20px">Login in as {{current_user.username}}</p>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('setting.password_reset_request') }}">Your profile</a></li>
                        <li><a href="{{ url_for('setting.personal_setting') }}">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert"></button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
