{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="container">
	{%if current_user.is_authenticated%}
		{%if posts%}
			{%for post in posts%}
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><a href="https://localhost:5000/post/{{post.title}}">{{post.title}}</a></h3>
				  	<br>
		  			<h4>{{current_user.username}} wrote at {{post.date}}</h4>
				  </div>
				  <div class="panel-body">
				    {{ post.preview | markdown }}
				  </div>
				  <div class="panel-footer"><a href="https://localhost:5000/post/{{post.title}}">阅读全文</a></div>
				</div>					
			{%endfor%}
		{%else%}
			<h2>还没有发表过文章，<a href="{{url_for('main.posts')}}">去写一篇</a> </h2>
		{%endif%}
	{%else%}
		<h2>还未登陆，<a href="{{url_for('auth.login')}}">去登陆</a></h2>
	{%endif%}
</div>
{% endblock %}
<html>
    <head>
        <title>OAuth Flask Demo</title>
    </head>
    <body>
        <h1>OAuth Demo</h1>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.username }}!</h2>
            <img src="{{current_user.avatar_url}}" alt="">
            <a href="{{current_user.html_url}}"></a>
            <p><a href="{{ url_for('auth.logout') }}">Logout</a></p>
        {% else %}
            <h2>I don't know you!</h2>
            <p><a href="{{ url_for('auth.oauth_authorize',provider='Github') }}">Login with Facebook</a></p>
            <p><a href="{{ url_for('auth.oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
        {% endif %}
    </body>
</html>